<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.eeui.umeng">

    <!-- 以下为需要的基本权限，需要自行添加至您的AndroidManifest文件中 start-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 以下为需要的基本权限，需要自行添加至您的AndroidManifest文件中 end-->

    <application>
        <activity
            android:name="app.eeui.umeng.activity.MfrMessageActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/transparentTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${applicationId}"
                    android:path="/thirdpush"
                    android:scheme="agoo" />
            </intent-filter>
        </activity>

        <!-- 以下为基本配置信息，需要自行添加至您的AndroidManifest文件中 start-->
        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 以下为基本配置信息，需要自行添加至您的AndroidManifest文件中 end-->


        <!-- 魅族 start-->
        <!--push应用定义消息receiver声明 -->
        <receiver android:name=".receiver.MeizuTestReceiver">
            <intent-filter>
                <!-- 接收push消息 -->
                <action android:name="com.meizu.flyme.push.intent.MESSAGE" />
                <!-- 接收register消息 -->
                <action android:name="com.meizu.flyme.push.intent.REGISTER.FEEDBACK" />
                <!-- 接收unregister消息-->
                <action android:name="com.meizu.flyme.push.intent.UNREGISTER.FEEDBACK" />
                <!-- 兼容低版本Flyme3推送服务配置 -->
                <action android:name="com.meizu.c2dm.intent.REGISTRATION" />
                <action android:name="com.meizu.c2dm.intent.RECEIVE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <!-- 魅族 end-->

        <!-- VIVO厂商通道 start-->
        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="${vivoAppKey}" />
        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="${vivoAppId}" />
        <!-- VIVO厂商通道 end-->

        <!-- HUAWEI厂商通道 start-->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=${huaweiAppId}" />
        <!-- HUAWEI厂商通道 end-->

    </application>

</manifest>
